<!-- 
    Templates:
    All the default styles of the site are automatically applied after including the 
    header and the footer
-->
<%- include("header") %>

    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus molestie erat, sollicitudin tristique odio finibus vel. Suspendisse dui enim, ultrices a justo vitae, luctus sodales mauris. Donec luctus eu lacus ac tincidunt. Nunc eu lectus ut nulla viverra pharetra. Sed condimentum lectus lacus. Aliquam eget mi blandit, dignissim magna quis, pellentesque sem. Phasellus feugiat condimentum orci id posuere. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        Nulla erat mauris, blandit nec purus nec, mattis congue mauris. Curabitur maximus id elit a luctus. Maecenas sodales ut est nec interdum. Integer cursus sollicitudin libero, in semper velit scelerisque sed. Aenean commodo eros ut sem dapibus rutrum. Sed mauris enim, dictum sit amet justo eu, efficitur accumsan purus. Morbi sed eros molestie, sollicitudin ante eget, mattis ipsum. Nulla sodales quam metus, vel fringilla neque facilisis sit amet. Etiam vel quam non ipsum mattis feugiat. Etiam id est metus. Maecenas sollicitudin eros diam, a porta turpis dignissim a. Vestibulum at feugiat odio. Vestibulum faucibus dolor urna, vitae placerat ipsum vulputate sit amet. Nam in molestie libero, a dictum tellus. Ut non luctus ex.
        
        Phasellus placerat vestibulum massa sit amet euismod. Aliquam tincidunt gravida aliquam. Proin pharetra nunc id orci accumsan, vitae cursus dui varius. Nulla at turpis sapien. Etiam eu lacus purus. Nunc ac molestie tellus. Fusce arcu sapien, tempor vitae mauris vel, cursus tempus sapien. Mauris viverra ex ut elit pharetra viverra. Integer porttitor lacus accumsan imperdiet imperdiet. Donec varius semper cursus. Nullam fermentum, libero vitae ullamcorper dignissim, nibh mauris hendrerit ligula, sit amet iaculis dui arcu ut dolor. Integer sollicitudin ultricies convallis. Etiam nec vulputate velit.
        
        Curabitur placerat, lectus maximus blandit semper, felis enim sagittis sem, in pharetra est libero ut tellus. Ut pretium libero at nisl hendrerit, sit amet ultricies nisi congue. Nunc mattis, mauris non pellentesque rhoncus, quam erat viverra tellus, eget dapibus magna augue ac erat. Nullam velit orci, tempor nec posuere et, mattis sit amet felis. Mauris accumsan lectus sed metus bibendum rutrum scelerisque ut nibh. Nullam venenatis vestibulum ex, vitae aliquam lorem blandit sit amet. Curabitur tempor suscipit scelerisque. Aliquam nec quam consequat metus volutpat ullamcorper. Nunc pharetra tristique augue vitae sollicitudin. Cras hendrerit sapien ultricies purus accumsan faucibus. In suscipit viverra purus, quis venenatis eros pellentesque id. Praesent lacinia convallis ex sit amet bibendum.
    </p>

<%- include("footer") %> 